<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Casa Criativa</title>

</head>

<body>
    <div id="container">
        <section id="intro">
            <a href="/">
                <img src="./images//logo.png" alt="Logomarca Empresa">
            </a>
            <main>
                <p>Ficar em casa em periodos longos, não deve ser nada facil</p>

                <p>Por isso ,iremos catalogar ideias<strong>,brincadeiras
                        ,jogos,filmes,livros,cursos,dicas</strong>e tudo que for necessario para tornar esse momento mais interessante .</p>

                <p>Comece clicando em <a href="http://">Ver ideias</a> para ver as ideias cadastradas e contribua <a href="http://">acicionando a sua
                        ideia</a></p>

            </main>

            <section id="buttons">
                <a href="/ideias" class="button">Ver ideia</a>

                <button onclick="onOff()">+Adicionar ideia</button>

            </section>



            <footer class="hide">
                Com &#128151; <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
            </footer>
        </section>

        <section id="last-ideas">


            <div class="idea">
                <img src="{{idea.img}}" alt="Imagem de{{idea.title}}">
                <div class="content">
                    <h3>{{idea.title}}</h3>
                    <p>{{idea.category}}</p>
                    <div class="description">
                      {{idea.description}}
                    </div>
                    <a href="{{idea.url}}" target="_blank">Ir para a ideia</a>

                </div>
            </div>


        </section>
    </div>

    <!--Modal-->
    <div id="modal" class="hide">
        <div class="content">
            <h1>Nova Ideia</h1>
            <form action="">
                <div class="input-wrapper">
                    <label for="title">Titulo da ideia</label>
                    <input type="text" name="title" id="">

                </div>

                <div class="input-wrapper">
                    <label for="category">Categoria</label>
                    <input type="text" name="category" id="">

                </div>

                <div class="input-wrapper">
                    <label for="image">Link da imagem</label>
                    <input type="url" name="image" id="">

                </div>

                <div class="input-wrapper">
                    <label for="description">Digite uma descrição para essa ideia</label>
                    <textarea name="description" id="" cols="30" rows="10"></textarea>

                </div>

                <div class="input-wrapper">

                    <label for="link">Link da ideia</label>
                    <input type="text" name="link" id="">
                </div>


                <a href="#" onclick="onOff()">Voltar</a>
                <input type="button" value="Salvar">

            </form>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>
